<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <li>
        <a href="/machine-list"><i class="fa fa-list"></i>Machine List</a>
      </li>

      <!-- <li>
        <a href="/menu"><i class="fa fa-map-o"></i>Menu</a>
      </li> -->

      <!-- <li>
        <a href="/shopping-list"><i class="fa fa-shopping-cart"></i>List of needed ingredients</a>
      </li> -->

      <li>
        <a href="/routes"><i class="fa fa-road"></i>Add Your Routes</a>
      </li>

      <li>
        <a href="/new_machine_name"><i class="fa fa-cubes"></i>Setup yours machines</a>
      </li>
    </ul>
  </nav>
</template>
