.m-bottom-none
  margin-bottom 0px

.m-bottom-10
  margin-bottom 10px

// .main-input label {
//   display: inline-block;
//   width: 140px;
//   text-align: right;
// }
//
// // .main-input label span {
// //     text-align:center;
// //     padding:15px 0px;
// //     display:block;
// // }
// //
// // .main-input label input {
// //     position:absolute;
// //     top:-20px;
// // }

.set-daily-ticket-form input
  width: 328%
